body, h1, h3 {
  font-family: 'Oswald', sans-serif;
}
hr { 
    border-style: solid;
}
.navi a {
  text-decoration: none !important;
  color: black;
  letter-spacing: 1px !important;
}
.navi li a:hover {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}
.navi li a.active {
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

@media (min-width: 1000px) {
  .navi {
      position: fixed; 
  }
}

pre {
  padding: 10px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  background-color: #eeeeee;
  border-radius: 0;
  border: none;
}